---
import { getCollection } from "astro:content";
import PostCard from "../shared/post-card.astro";
import { Icon } from "astro-icon/components";

const posts = await getCollection("posts");

// Limit to 3 latest posts for home page
const latestPosts = posts.filter((post) => post.data.date) // ensure date exists
  .sort((a, b) => Number(new Date(b.data.date)) - Number(new Date(a.data.date))).slice(0, 4);
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <!-- Section Title with Arrow -->
    <div class="flex items-center justify-between mb-12">
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
          Latest Posts
        </h2>
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg max-w-2xl">
          Check out the latest updates, stories, and experiments from our lab. Stay tuned for more insights!
        </p>
      </div>
      <a
        href="/posts"
        class="text-primary-600 dark:text-primary-400 hover:text-primary-700 dark:hover:text-primary-300 transition-colors"
        aria-label="View All Posts"
      >
        <!-- Simple arrow icon -->
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M23.987 12a2.4 2.4 0 0 0-.814-1.8L11.994.361a1.44 1.44 0 0 0-1.9 2.162l8.637 7.6a.25.25 0 0 1-.165.437H1.452a1.44 1.44 0 0 0 0 2.88h17.111a.251.251 0 0 1 .165.438l-8.637 7.6a1.44 1.44 0 1 0 1.9 2.161L23.172 13.8a2.4 2.4 0 0 0 .815-1.8"/></svg>
        <!-- <svg class="w-10 h-10" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
        </svg> -->
      </a>
    </div>

    <!-- Posts Grid -->
    <div class="grid gap-12 sm:grid-cols-2">
      {latestPosts.map((post) => (
        <PostCard post={post} />
      ))}
    </div>
  </div>
</section>
